.Orderbutton {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-left: 350px;
    background-color: lightgreen;
}

.LoginButton {
    width: 70px;
    height: 20px;
    border-radius: 50px;
    background-color: lightgreen;
}

.BackButton {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-left: 300px;
    background-color: lightgreen;
    margin-top: 20px;
}

.IdentifyButton {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-left: 450px;
    background-color: lightgreen;   
}